@font-face {
    font-family: "SolaimanLipiNormal";
    src: url(fonts/solaiman-lipi.eot);
    src: url(fonts/solaiman-lipi.eot) format("embedded-opentype"), url(fonts/solaiman-lipi.woff) format("woff"), url(fonts/solaiman-lipi.ttf) format("truetype"), url(fonts/solaiman-lipi.svg#SolaimanLipiNormal) format("svg");
    font-weight: 400;
    font-style: normal;
}
a:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    margin: 0 0 15px;
    font-weight: 400;
}
body {
    font-family: SolaimanLipiNormal !important;
    background: #efefef;
}
a:hover {
    text-decoration: none;
}
.homepage-section {
    background-image: url(img/green-gradient-bg-1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 100px;
}
.homepage-section:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
    content: "";
}
.home-btn {
    margin-top: 16px;
}
.home-btn a {
    background: #217e23;
    color: #fff;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 50px;
    transition: 0.8s;
    display: inline-block;
    text-decoration: none;
    border: 2px solid#fff;
}
.home-btn:hover a {
    margin-left: 10px;
    background: none;
    color: #fff;
}
.home-silde-image img {
    max-width: 80%;
    height: auto;
    margin-left: 20%;
}
.home-silde-contant h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}
.home-silde-contant {
    font-size: 18px;
    color: #fff;
    padding: 37px 0;
    font-weight: 400;
}
.homepage-slides .owl-nav button {
    position: absolute;
    top: 40%;
    font-size: 37px;
    line-height: 54px;
    transition: 0.4s;
    color: #fff;
    background: #083c15;
    padding: 17px 18px;
    margin: 2px;
    left: -109px;
}
.homepage-slides .owl-nav button:hover {
    transform: scale(1.1);
    color: #fff;
}
.homepage-slides .owl-nav button.owl-next {
    left: auto;
    right: -105px;
}
.homepage-slides .owl-dots button {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid#fff;
    padding: 0;
}
.homepage-slides .owl-dots button.active {
    background: #218ae0;
    padding: 5px;
}
.homepage-slides .owl-dots {
    margin-top: 5px;
    text-align: center;
    position: absolute;
    left: 45%;
    bottom: -26%;
    content: "";
    z-index: 1;
    padding-bottom: 30px;
}
img {
    max-width: 100%;
    cusor: pointer;
}
